.cart-item {
    display: flex;    
    align-items: center;    
    margin-bottom: 5px;    
    background-color: aliceblue;
    padding: 0 10px;
    border-radius: 10px;

}
.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart-item h6 {
    margin: 0 20px;
}
.delete-btn{    
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}