.laptop-info {
    width: 300px;
    height: 450px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    background-color: rgb(210, 252, 205);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.laptop-info img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn {
    width: 100%;
    background: #9af1b0;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    /* font-size: 17px;     */
    /* padding: 5px; */
}
.btn:hover {
    background-color: #27812c;
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
.btn h4 {
    margin-right: 10px;
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}