.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: rgb(255, 255, 255);  
  
}

.laptop-container{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 10px 20px;
}
.laptop-container img {
  width: 100%;
  height: 250px;
}

.cart-container {  
  background-color: rgb(210, 252, 205);
  padding: 20px;
  margin: 10px 0;
  position: sticky;
  top: 0;
  margin-right: 10px;
  height: 500px;
  border-radius: 15px;
}

.btn-choose-one {
  background-color: #9af1b0;
  color: #282c34;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.btn-choose-one:hover {
  background-color: #27812c;
  color: #fff;
  transition: 0.7s;
}

.btn-choose-again {
  background-color: #9af1b0;
  color: #282c34;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
 
}
.btn-choose-again:hover {
  background-color: #27812c;
  color: #fff;
  transition: 0.7s;
}
